/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import "gruvbox.css";
:root {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Button styles are in App.css */
.avatar{
  background-color: var(--orange-dim);
  border-radius: 50%;
  height: 250px;
  margin: 2rem auto;
  width: 250px;
}
.profile-pic{
  width:100%;
  height:100%;
  border-radius: inherit;
  
}
/* Socials styles are in App.css */
.content{
  margin: 1em auto;

  max-width: 50em;

  width: 100%;
  
}

@media (max-width: 800px) {
  .list-container {
    flex-direction: column;
  }
}
.projects{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0 1em;
    :is(a){
        margin: 1em;
    }
    
}
